.about-banner {
  background-image: url('https://images.unsplash.com/photo-1664575602276-acd073f104c1?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

.about-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.about-banner h1 {
  color: white;
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  letter-spacing: 4px;
}

.about-subtitle {
  letter-spacing: 1px;
}

.about-subtext {
  margin-bottom: 2rem;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
}

.about-values,
.about-mission {
  flex: 1;
}

.about-values .about-subtext ul li::marker {
  color: var(--active-color);
}

.about-value-title {
  font-weight: 450;
}

@media screen and (min-width: 992px) {
  .about-details {
    width: 90%;
    margin-inline: auto;
  }
}
